<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">ホーム画面</a>
          <a class="nav-link" href="/friends">みんなのデートスポット</a>
          <a class="nav-link" href="/mypage">私のデートスポット</a>
        </div>
      </div>
    </div>

    <div class="bg-light p-4 p-lg-4 my-4 rounded">
      <h1 class="display-4 text-center"><%= title %></h1>
    </div>

    <div class="text-center">
      <p>ここではみんなのおすすめデートスポットを見ることができます。</p>
      <p>あなたのおすすめデートスポットもみんなに共有してみましょう！！</p>
    </div>
    <div class="text-center text-danger mt-5">
      <p>※注意</p>
      <p>(1)不特定多数の人が閲覧できるため、公序良俗に反するコメントはお控えください。</p>
      <p>(2)写真を投稿する場合は、他人が映らない写真を使用ください。</p>
    </div>

    <div class="row mt-5">
      <a href="/register" class="col-1 offset-5">新規登録</a>
      <a href="/login" class="col-1">ログイン</a>
      <div class="col-5"></div>
    </div>
    

  </body>
</html>
